# TeamsFx files
env/.env.*.user
env/.env.local
env/.env.dev
env/.env.testtool

appPackage/build

# dependencies
node_modules/

# misc
.env
.deployment
.DS_Store
.vscode

infra/

# build
lib/

# devTools
devTools/

# Local data
.localConfigs
.localConfigs.testTool
.notification.localstore.json
.notification.testtoolstore.json

teamsapp.*

/manifest.json